# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env
.gradle
gradle.properties
build
bin/
.idea
.vscode

# Go binaries and build outputs
server
server-*
*.exe
vendor/ 